/* * {
  margin: 0;
  padding: 0;
}

body {
  font-family: san-serif;
  background-color: white;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  background-color: blue;
}

.calories {
  text-align: center;
  margin: 2px;
} */